In [62]:
import json
import numpy as np
import pandas as pd

In [53]:
df = None
lines_with_errors = []

with open('university_diemchuan', encoding='utf8') as f:
    # The first line doesn't have any data, so we skip it to let
    # other lines define the dataframe columns
    first_line = f.readline()
    
    for line in f.readlines():
        try:
            json_data = json.loads(line.strip())
        except:
            lines_with_errors.append(line)
        
        # Create a subtable for each line
        grades = json_data['diemchuan_datas']
        university_meta = json_data['university_meta']
        
        table = pd.read_json(json.dumps(grades), orient='records')
        table['university_code'] = university_meta['university_code']
        table['university_name'] = university_meta['university_name']
        table['url'] = university_meta['url']
        
        # Append to the final dataframe
        df = table if df is None else pd.concat([df, table])

In [56]:
df.head()

,major_code,major_name,subject_group,point,note,year,university_code,university_name,url
0,7720101,Y khoa,A02,21.0,,2019.0,BMU,Đại học Buôn Ma Thuột,https://diemthi.tuyensinh247.com/diem-chuan/da...
1,7720101,Y khoa,B00,21.0,,2019.0,BMU,Đại học Buôn Ma Thuột,https://diemthi.tuyensinh247.com/diem-chuan/da...
2,7720101,Y khoa,D08,21.0,,2019.0,BMU,Đại học Buôn Ma Thuột,https://diemthi.tuyensinh247.com/diem-chuan/da...
3,7720201,Dược học,A00,20.0,,2019.0,BMU,Đại học Buôn Ma Thuột,https://diemthi.tuyensinh247.com/diem-chuan/da...
4,7720201,Dược học,B00,20.0,,2019.0,BMU,Đại học Buôn Ma Thuột,https://diemthi.tuyensinh247.com/diem-chuan/da...

In [65]:
df['point'] = df['point'].replace(to_replace={'---': np.nan}).astype(float)

In [75]:
df.to_csv('admission_score.csv')